# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
static/

# Python # 
*.py[cod] 
*$py.class 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Environments 
.env
env/
venv/

# VSCode
.vscode/