.forum-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.posts-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 87%;
	margin-bottom: 6em;
}

.post-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: flex-end;
	width: 100%;
}
