/* Custom properties are defined in app.css */

.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4em;
	margin-top: 6em;
}

.smaller-gap {
	gap: 3em;
}

.logo {
	width: 70vw;
}

.message {
	font-size: 1.4rem;
	text-align: center;
	width: 75%;
}

.btn-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2.5em;
}
