.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}

.info h4 {
	white-space: nowrap;
	font-size: 1.3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 19ch;
}

.map-icon {
	text-decoration: none;
	color: var(--color-black);
	font-size: 3rem;
}
