.numbers-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}

.numbers-wrapper {
	display: flex;
	width: 90%;
	background: var(--color-light-blue);
	color: var(--color-white);
	justify-content: left;
	align-items: center;
	gap: 2em;
	padding: 1em 2em;
	border-radius: 0.75em;
}

.number-item {
	line-height: 1.6;
}
