.post {
	background: var(--color-white);
	position: relative;
	padding: 1.2em;
	border-radius: 0.6em;
	width: 100%;
}

.post-content {
	word-wrap: break-word;
  	overflow-wrap: break-word;
  	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
	hyphens: auto;
	width: 100%;
	padding-right: 1em;
}

.reply {
	width: 90%;
	position: relative;
}

.reply-icon {
	color: var(--color-black);
	position: absolute;
	right: 0.2em;
	bottom: 0.2em;
	font-size: 1.8rem;
}

.post-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
	margin-bottom: 0.5em;
}

.post-header h5 {
	color: var(--color-light-blue);
	font-size: 1.2rem;
}

.img-wrapper {
	border-radius: 50%;
	overflow: hidden;
	width: 2.5em;
	height: 2.5em;
	position: relative;
	outline: 0.123em solid var(--color-dark-blue);
}

.post-profile-pic {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

.reply::before {
	content: '';
	display: block;
	position: absolute;
	background: var(--color-black);
	width: 95%;
	z-index: -1;
	transform: translate(-0.7em, -2.5em);
	height: 2em;
}
