.thread-header {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 2.8em;
    padding-left: 7em;
    margin-bottom: 2em;
    background: rgba(255, 255, 255, 0.39);
    padding-bottom: 1em;
    border-bottom: 0.5em solid var(--color-black);
}

.dm-image-wrapper {
    width: 3.5em;
    height: 3.5em;
}

.thread-header h5 {
    color: var(--color-black);
    font-size: 1.7rem;
}

.message-box {
    position: absolute;
    bottom: 6em;
    left: 1em;
    right: 1em;
    padding: 0.5em;
    border-radius: 0.8em;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 37em;
    overflow: scroll;
}